h1 {
    width: 100%;
    text-align: center;
}
body {
    max-width: 100%;
    font-family: "Helvetica", sans-serif;
    font-size: 11pt;
}
.calc {
}
.other {
    display: grid;
    grid-template:
        "viewer viewer" auto
        / 1fr 1fr;
}
.label {
    display: block;
    font-size: small;
    font-variant: all-petite-caps;
    padding-bottom: 5px;
}
.value {
    display: block;
    margin-bottom: 20px;
}
textarea {
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    min-height: 5em;
}
#encoding {
    max-width: 100px;
}
#segments-viewer, #message-viewer {
    line-height: 0.8;
}
.septet {
    color: black;
    font-size: 10px;
    text-align: center;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6ch;
    height: 1em;

    vertical-align: middle;

    font-family: monospace;
    padding: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.char {
    color: black;
    font-size: 12px;
    text-align: center;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2em;

    vertical-align: middle;

    font-family: monospace;
}

/*.char:first-child {
    padding-left: 1ch;
}
.char:last-child {
    padding-right: 1ch;
}*/
.septet>span, .char>span {
    cursor: default;
}
.septet.twilio > img {
    display: inline;
    height: 1em;
}

.segment-type-0 {
    background-color: #CCE4FF;
}
.segment-type-0.selected {
    background-color: #0263E0;
    color: white;
}

.segment-type-1 {
    background-color: #D1FAE0;
}

.segment-type-1.selected {
    background-color: #14B053;
    color: white;
}

.segment-type-2 {
    background-color: #FDDCC4;
}
.segment-type-2.selected {
    background-color: #F47C22;
    color: white;
}

.segment-type-3 {
    background-color: #FFF1B3;
}
.segment-type-3.selected {
    background-color: #E8B407;
    color: white;
}

.segment-type-4 {
   background-color: #E7DCFA;
}
.segment-type-4.selected {
    background-color: #6D2ED1;
    color: white;
}

/*
.septet.selected,.char.selected {
    background-color: #233659;
    color: white;
}*/
.char.error {
    background-color: red;
}

.abox {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 10px;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    justify-content: space-between;
}
.abox > .label {
    padding-top: 5px;

    text-align: center;
    font-size: small;
    font-variant: all-petite-caps;
    background-color: #233659;
    color: white;
}
.abox > .value {
    padding-top: 5px;
    font-size: medium;
    text-align: center;
    background-color: #233659;
    color: white;
    margin-bottom: 0;
    /*font-weight: bold;*/
}